

/* dom */


/* h1{
    color: blue;
    font-size: large;
    text-decoration: line-through;
}
p{
    color: brown;
    background-color: aqua;
}
button{
    color: purple;
    background-color: red;
}
.box{
    height: 100px;
    color: blue;
    border: 2px solid palevioletred;
    background-color: yellow;
    text-align: center;
} */



/* events */

div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
}